fastapi
uvicorn
python-multipart
chromadb==0.4.21
sentence-transformers
pypdf
pdfplumber
python-dotenv
numpy>=1.21.0,<2.0.0
fuzzywuzzy
python-Levenshtein
spacy
textblob
langchain
langchain-community
faiss-cpu
duckduckgo-search
groq
google-cloud-storage 